<a href="<%=game.redirectLink%> left">
  <img class='coverArt columns medium-2 show-for-medium-up vcenter'src="<%= game.game.thumb %>" alt="coverArt" />
  <div class="columns medium-1 show-for-medium-up">&nbsp;</div>
  <div class="gameInfo columns medium-4 small-6 vcenter left">
    <span class="title">Title: <%= game.game.title %></span> <br />
    <span class="retailer">Retailer: <%= game.game.retailer%></span> <br />
    <span class="price">Price: $<%= game.game.price %></span> <br />
    <span class="publisher">Publisher: <%= game.game.publisher %></span> <br />
  </div>
</a>

<div class="columns medium-4 small-6 vcenter right">
  <form class="<%=game._id%>" action="#" method="get">
    <div class="row collapse">
      <div class="columns small-8">
        <input class='userPrice' type="number" name="userPrice" value="<%= game.userPrice %>" />
      </div>
      <div class="columns small-2">
        <input class='update button postfix expand' type="button" name="button" value='edit' />
      </div>
      <div class="columns small-2">
        <input class='delete button postfix expand alert' type="button" name="button" value='X' />
      </div>
    </div>
  </form>
</div>
